*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: cursive;
    background-color: #fff;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .box{
    border-radius: 10px;
    margin: 20px 30px;
    background-color: #eee;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.container .add-new-note{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.container .add-new-note:hover img{
    animation: rubberBand;
    animation-duration: 0.5s;
}

.head-box{
    margin: 0 0 50px 0;
}

.head-box h2, p{
    margin: 10px 0;
}


.foot-box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ccc;
}

.foot-box img{
    cursor: pointer;
}

.foot-box .menu-extend{
    width: 100px;
    position: absolute;
    right: 40px;
    bottom: 20px;
    display: none;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 11px 29px 0px rgba(0,0,0,0.1);
}

.foot-box .menu-extend .btn-edit, .btn-delete{
    padding: 2px 0;
    padding: 10px;
}

.foot-box .menu-extend .btn-edit:hover, .btn-delete:hover{
    background-color: #fff;
}

.foot-box .menu-extend .btn-edit:hover{
    border-radius: 5px 5px 0 0;
}

.foot-box .menu-extend .btn-delete:hover{
    border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 1000px) {
    .container{
        grid-template-columns: auto;
    }
}

.modal{
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box{
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    border-radius: 10px;
    z-index: 2;
    gap: 30px;
}

.head-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.head-modal img{
    cursor: pointer;
}

.content-modal{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.content-modal input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
}

.content-modal .title-section input{
    height: 30px;
}

.content-modal .desc-section input{
    height: 60px;
}

.btn-add{
    width: 100%;
}

button{
    background-color: #ccc;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-family: cursive;
    cursor: pointer;
    width: 100%;
}

button:hover{
    background-color: #bbb;
}

.overlay{
    display: none;
    min-height: 100vh;
    background-color: #000000a2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.close-modal{
    padding: 3px;
    border-radius: 100%;
}

.close-modal:hover{
    background-color: #ccc;
}